aside {
  display: flex;
  flex-direction: column;
}
#aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

aside form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
  margin: 0px auto;
  width: 90%;
}

aside input {
  font-size: 1rem;
  border-radius: 5px;
  padding: 3px 2px;
}
aside textarea {
  font-size: 1.3rem;
}

aside picture {
  width: 90%;
}

#aside hr {
  border-bottom: 1px solid #4747476b;
  border-top: 1px solid #4747476b;
  width: 90%;
  margin: 0 auto;
}

.aside-col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-col1 img {
  width: 100%;
  margin: 0 auto;
}

.aside-col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-col3 img {
  width: 90%;
  margin: 0 auto;
}

.form_mini_submit {
  background-color: white;
  cursor: pointer;
  transition: 0.5s all;
  border-radius: 25px;
  width: 40%;
  margin: 0 auto;
  padding: 5px 5px;
}

.form_mini_submit:hover {
  background-color: #5e1b1b;
  color: white;
  transition: 1s all;
  border-color: rgba(255, 255, 255, 0);
}
