.main1 {
  background-color: rgb(241 241 241);
  margin: 0px auto;
  padding: 20px 0;
}

.main1-bloco {
  display: flex;
}

.main1-bloco div {
  display: flex;
  flex-direction: column;
}

/*
===============================================================
              IMAGEM BACKGROUND DIREITO
===============================================================
*/
.main2 {
  height: auto;
  margin: 0px auto;
  background: rgb(241 241 241);
}

.main2 p {
  font-family: var(--fonte-escrita);
}

.main2-bloco {
  max-width: 1200px;
  margin: 0 auto;
}

.main2-col2 {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  height: 0;
}
.main2-col2 img {
  width: 100%;
  height: auto;
}

.main2-col1 {
  width: 100%;
  height: 100px;
  background-color: rgb(241 241 241);
  clip-path: polygon(0% 0%, 50% 0%, 70% 94%, 0% 94%);
  height: 100%;
  padding: 8px 0;
}

.main2-col1 p:nth-child(1) {
  width: 50%;
}
.main2-col1 p:nth-child(2) {
  width: 55%;
}
.main2-col1 p:nth-child(3) {
  width: 60%;
}
.main2-col1 p:nth-child(4) {
  width: 65%;
}

/*



/*
===============================================================
              IMAGEM BACKGROUND DIREITO
===============================================================
*/
.main3 {
  height: auto;
  margin: 0px auto;
  background: rgb(241 241 241);
  width: 100%;
  overflow: hidden;
}

.main3-bloco {
  max-width: 1200px;
  margin: 0 auto;
}
.main3 p {
  font-family: var(--fonte-escrita);
}
.main3-col1 {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  height: 0;
}
.main3-col1 img {
  width: 100%;
  height: auto;
}

.main3-col2 {
  width: 100%;
  background-color: rgb(241 241 241);
  clip-path: polygon(100% 0%, 50% 0%, 30% 94%, 100% 94%);
  height: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main3-col2 p:nth-child(1) {
  width: 50%;
  text-align: end;
}
.main3-col2 p:nth-child(2) {
  width: 55%;
  text-align: end;
}
.main3-col2 p:nth-child(3) {
  width: 60%;
  text-align: end;
}
.main3-col2 div:nth-child(4) {
  width: 100%;
}

/*
===================================================
            Botão de Preenchimento lateral
===================================================
*/

.botao-estilistico {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  margin: 20px auto;
}

.botao-estilistico span {
  position: relative;
  z-index: 2;
  font-size: 1.7rem;
  font-weight: 600;
}

.botao-estilistico:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--cor-destaque);
  transition: all 0.35s;
}

.botao-estilistico:hover {
  color: #fff;
}

.botao-estilistico:hover:after {
  width: 100%;
}

/*=====================================
        botao da direita
=======================================*/

.botao-estilistico2 {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  margin: 20px auto;
}

.botao-estilistico2 span {
  position: relative;
  z-index: 2;
  font-size: 1.7rem;
  font-weight: 600;
}

.botao-estilistico2:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--cor-destaque);
  transition: all 0.35s;
}

.botao-estilistico2:hover {
  color: #fff;
}

.botao-estilistico2:hover:after {
  width: 100%;
}
/*
===================================================
*/

/*
===================================================
            main 4
===================================================
*/

.main4 {
  height: 340px;
  margin: 0px auto;
  background: rgb(241 241 241);
  width: 100%;
  overflow: hidden;
}
.main4-bloco {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.main4-bloco p {
  width: 23%;
  background: gainsboro;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 1.8rem;
  padding: 15px;
  transition: 1s all;
}

.main4-bloco p:hover {
  transform: scale(1.1);
}

/*
===================================================
            main 5
===================================================
*/

.main5 {
  height: auto;
  margin: 0px auto;
  background: rgb(241 241 241);
  width: 100%;
  overflow: hidden;
}
.main5-bloco {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main5-bloco-col1,
.main5-bloco-col2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main5-bloco-col1 p,
.main5-bloco-col2 p {
  width: 50%;
}

.main5-whats {
  height: 100%;
}

.main5-bloco-col2 .icon-whatsapp {
  font-size: 60px;
  color: green;
  background: #ffffff;
  border-radius: 100%;
  transition: 1s all;
}

.main5-bloco-col2 .botao-whats {
  transition: 4s all cubic-bezier(0, 0.91, 0.82, 0.35);
}

.main5-bloco-col2 .botao-whats:hover {
  border-radius: 30%;
  padding: 20px;
}

.main5-bloco-col2 .icon-whatsapp:before {
  border-radius: 50%;
  transition: 1s box-shadow;
}

.main5-bloco-col2 .botao-whats:hover .icon-whatsapp:before {
  box-shadow: 1px 1px 20px white;
  border-radius: 50%;
  transition: 0s, 4s box-shadow;
}

.main5-bloco-col2 .botao-whats:hover,
.main5-bloco-col2 .botao-whats:hover .icon-whatsapp {
  font-size: 80px;
  transform: rotate(720deg);
}

/*
===================================================
            main 6
===================================================
*/

.main6 {
  height: auto;
  background: rgb(241 241 241);
  overflow: hidden;
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main6-bloco {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.main6-bloco-col1,
.main6-bloco-col2 {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin: 10px;
}

.main6-imagem1 {
  background: url("../../imagens/fotos/converted-american-style-truck-on-freeway-600nw-528660739.webp");
}
.main6-imagem2 {
  background: url("../../imagens/fotos/converted-autonomous-semitruck-trailer-controlled-by-600nw-2342416523.webp");
}
.main6-imagem3 {
  background: url("../../imagens/fotos/converted-driver-semitruck-sitting-drining-his-600nw-2193931743.webp");
}
.main6-imagem4 {
  background: url("../../imagens/fotos/converted-happy-confident-male-driver-standing-600nw-2154987057.webp");
}
.main6-imagem5 {
  background: url("../../imagens/fotos/converted-industrial-long-hauler-big-rig-600nw-2253269511.webp");
}
.main6-imagem6 {
  background: url("../../imagens/fotos/converted-truck-transport-on-road-sunset-600nw-2273845015.webp");
}

.main6-fundo {
  overflow: hidden;
  width: 30%;
  height: 300px;
  background-repeat: round;
  filter: grayscale(1);
  transition: 1s filter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
}

.main6-fundo:hover {
  filter: grayscale(0);
}

.main6-janela {
  display: none;
  text-align: center;
  background: rgb(0 0 0 / 52%);
  width: 100%;
  margin: 0 auto;
  height: 66%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: scrollJanelaSobe 2s;
}

.main6-janela p {
  color: white;
}

.main6-fundo:hover .main6-janela {
  display: flex;
  animation: scrollJanela 2s;
}

.main6-janela-button {
  background: white;
  border-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  animation: pulse 2s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(233, 30, 99, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(233, 30, 99, 0);
  }
}

@keyframes scrollJanela {
  from {
    margin-top: 100%;
    max-height: 0;
  }
  to {
    margin-top: 0;
    max-height: 200px;
  }
}
@keyframes scrollJanelaSobe {
  from {
    display: block;
    margin-top: 0;
    max-height: 200px;
  }
  to {
    display: none;
    margin-top: 100%;
    max-height: 0;
  }
}
