#main {
  max-width: var(--largura-maxima);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: auto;
}

#s-main {
  flex: 4;
  margin: 10px 20px;
}

aside {
  flex: 1;
  border: 1px solid black;
  margin: 10px 20px;
}
