#main {
  max-width: var(--largura-maxima);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: auto;
}

#s-main {
  flex: 4;
  margin: 10px 20px;
  border-right: 1px solid black;
}

aside {
  flex: 1;
  margin: 10px 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
