header {
  width: 100%;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: var(--largura-maxima);
  margin: 0 auto;
  gap: 10px 0;
}

nav {
  flex: 5;
}
.header-bloco {
  flex: 1;
}

.header-bloco .logo {
  width: 10px;
}
/*================================
              MenuNav
=================================
=================================
=================================*/

nav {
  display: flex;
  align-items: center;
}

.nav-bloco-navegacao {
  display: flex;
  width: 100%;
}
.menunav {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menunav li {
  border-bottom: 1px solid #bebebe;
  padding: 5px;
  margin: 10px;
  border-radius: var(--borda-arredondada);
}

.menunav li a {
  font-size: 1.3rem;
}

.header_slide-in {
  transform: translateY(0px);
  position: fixed;
  transition: all 0.4s ease-out 0s;
  max-height: 100px;
  width: 100%;
  background-color: #990000c4;
  z-index: 33;
}

.header_slide-out {
  transform: translateY(-100%);
  position: fixed;
  width: 100%;
  top: 0px;
  transition: transform 0.4s ease-in-out 0s;
  max-height: 100px;
  background-color: #990000c4;
  z-index: 33;
}
/*================================
              Botao
=================================*/

.nav-menunav-botao {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #ffffff00;
  cursor: pointer;
  width: 60px;
  height: 50px;
  position: absolute;
  gap: 5px;
  flex-direction: row-reverse;
  right: 15px;
}

.tracos-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#checkbox-botao-menu {
  opacity: 0;
  width: 70px;
  height: 50px;
  position: absolute;
  z-index: 99;
  cursor: pointer;
}

.tran {
  width: 10px;
  display: block;
  background: white;
  height: 2px;
  transition: 1s all;
  width: 20px;
  height: 3px;
}

#checkbox-botao-menu:checked ~ span {
  transition: 1s all;
}

#checkbox-botao-menu:checked ~ span .top {
  transform: translate(-25px, 5px) rotate(-45deg);
  width: 25px;
  transition: 1s all;
}

#checkbox-botao-menu:checked ~ span .middle {
  width: 0;
  transition: 0.5s all;
}

#checkbox-botao-menu:checked ~ span .bottom {
  transform: translate(-25px, -10px) rotate(45deg);
  width: 25px;
  transition: 1s all;
}

#checkbox-botao-menu:checked ~ label {
  opacity: 0;
  transition: 1s all;
}

.nav-menunav-botao label {
  opacity: 1;
  font-size: 1.5rem;
  transition: 2s all;
  color: white;
}
@media (max-width: 900px) {
  .nav-menunav-botao {
    display: flex;
  }
}

/*================================
              Contatos
=================================*/
.nav-contato {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  background: var(--cor-destaque);
  border-radius: 31px;
  transition: 1s all;
}

.nav-contato p {
  color: #bebebe;
}

.nav-contato-bloco {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.nav-contato-bloco p {
  color: var(--cor-background);
}

.nav-contato-bloco {
  max-height: 0;
  transition: 0.5 all;
  overflow: hidden;
  animation: 1s scrollContatoSobe;
}

.nav-contato:hover .nav-contato-bloco {
  max-height: 200px;
  height: 100%;
  animation: 1s scrollContato;
}

.nav-contato:hover {
  width: 300px;
  transition: 1s all;
}

.nav-contato-bloco a:hover {
  transform: rotate(360deg);
  transition: 1s all;
}

/*================================
              MOBILE
=================================*/

@media (max-width: 900px) {
  #nav {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    gap: 10px;
  }
  #header {
    flex-direction: column;
    align-items: center;
  }
  nav {
    width: 100%;
  }
  .menunav {
    flex-direction: column;
    width: 100%;
  }
  .nav-bloco-navegacao:not(:has(#checkbox-botao-menu:checked)) .menunav {
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
    animation: scrollMenuSobe 1s;
  }

  .nav-bloco-navegacao:has(#checkbox-botao-menu:checked) .menunav {
    max-height: 200px;
    animation: scrollMenu 1s;
    width: 100%;
  }

  .menunav li {
    width: 98%;
    text-align: center;
    background-color: var(--cor-menu);
    border: 1px solid black;
    margin: 2px 0px;
    padding: 0;
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity 0.5s ease, padding 0.5s ease, margin 0.5s ease,
      0.5s background;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menunav li a {
    display: block;
    color: white;
    text-decoration: none;
  }

  .nav-bloco-navegacao:not(:has(#checkbox-botao-menu:checked)) .menunav li {
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0;
  }

  .nav-bloco-navegacao:has(#checkbox-botao-menu:checked) .menunav li {
    opacity: 1;
    padding: 10px 0;
    margin: 2px 0px;
    height: auto;
  }

  .menunav li a {
    color: var(--cor-fonte-3);
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    transition: 0.5s all;
  }

  .nav-bloco-navegacao:not(:has(#checkbox-botao-menu:checked)) .menunav li a {
    font-size: 0;
    max-height: 0;
  }

  .nav-bloco-navegacao:has(#checkbox-botao-menu:checked) .menunav li a {
    font-size: 1.6rem;
    max-height: 100%;
  }

  #nav .menunav li:hover {
    background-color: var(--cor-destaque-secundaria);
  }
  #nav .menunav li a:hover {
    color: var(--cor-fonte-3);
  }
}

@keyframes scrollMenu {
  from {
    max-height: 50px;
  }
  to {
    max-height: 200px;
  }
}
@keyframes scrollMenuSobe {
  from {
    max-height: 200px;
  }
  to {
    max-height: 50px;
  }
}

@keyframes scrollContato {
  from {
    max-height: 0;
  }
  to {
    max-height: 200px;
  }
}
@keyframes scrollContatoSobe {
  from {
    max-height: 200px;
  }
  to {
    max-height: 0;
  }
}
